<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SqlIndexConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <userSettings>
        <SqlIndexConsole.Properties.Settings>
            <setting name="ReorganizeIndexFragmentationThreshold" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ReorganizeIndexMinimumSize" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ReorganizeIndexLobCompaction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RebuildIndexFragmentationThreshold" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="RebuildIndexMinimumSize" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RebuildIndexSortInTempDb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RebuildIndexOnline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RebuildIndexMaxDop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RebuildIndexCommandTimeout" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ReorganizeIndexCommandTimeout" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="LastConnectionString" serializeAs="String">
                <value />
            </setting>
        </SqlIndexConsole.Properties.Settings>
    </userSettings>
</configuration>
